# Compiled class file
*.class

# Log file
*.log

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Java project Files
.classpath
.factorypath
.project
.settings

# Maven
target
.flattened-pom.xml

# Cache Files
*.cache

# Project specific
*truststore.jks
*.env
test-registry-rest-api.http
.notes
